@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('../public/bg4.jpg') no-repeat center center fixed;
  min-height: 660px;
  min-width: 1000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}